/.Rproj.user
/.Rhistory
/.RData
*.o
*.so
*.dll
/eventloop.creator.user*
*.swp
src/httpserver.config
src/httpserver.creator
src/httpserver.creator.user
src/httpserver.files
src/httpserver.includes
.Rproj.user
CRAN-RELEASE
httpserver_*.tar.gz
src/Makevars
configure.log
.vscode
*.orig
docs
scripts/R-devel
check-docker/cache/
check-docker/rchk-packages/
check-docker/*.Rcheck/
